*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
/* ***header*** */
header{
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    color: aliceblue;
    /* padding: 0 2rem; */
    position: fixed;
}
nav{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: bisque;
}
.logo{
    font-size: 1.5rem;
    margin-right: 50px;
}
.logo a{
    color: #000;
    text-decoration: none;
}
.logo a strong i{
    color: orangered;
}
.toggle{
    display: none;
    
}
.menu{
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    width: 1000px;
    /* margin-left: 100px; */
}
.menu li a{
    color: #000;
    text-decoration: none;
    padding: 20px;
}
.btn{
    border: 0;
    background: orangered;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

@media all and (max-width:300px) {
    .toggle{
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }
    .toggle i{
        color: red;
    }
    .logo a{
        position: relative;
        z-index: 20;
    }
    .ouvrir{
        display:block;
    }
    .fermer{
        display:none;
    }
    .open .ouvrir{
        display: none;
    }
    .open .fermer{
        display: block;
    }
    .menu{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #626669;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
    }
    .open .menu{
        transform: translateX(0);
    }
}
    
/* ***section1*** */
.section-1{
    background-color: bisque;
    padding: 70px;
    
}
.section-1 .class-A{
    display: flex;
    width: 100%;
    
}
.section-1 .class-A .text{
    width: 700px;
    padding: 50px;
    justify-content: center;
}
.section-1 .class-A .text h1{
font-size: 50px;
padding: 10px;
    
}
.section-1 .class-A .text p{
font-size: 25px;
padding: 20px;
    
}
.section-1 .class-A .photo {
    position: relative;
    padding-left: 500px;
    margin-top: 50px;
}
.section-1 .class-A .photo .photo-1{
    z-index: 1;
    width: 250px;
    position: absolute;
    height: 200px;
    right:0px;
    top: 5px;
    left: 20px;
    bottom: 10px;
}
.section-1 .class-A .photo .photo-2{
    z-index: 1;
    width: 200px;
    position: absolute;
    height: 220px;
    top: 150px;
    left: 150px;
    bottom: 10px;
}
.section-1 .class-A .photo .photo-3{
    z-index: 1;
    width: 290px;
    position: absolute;
    height: 200px;
    right:100px;
    top: 300px;
    left: 30px;
    bottom: 15px;
}
.section-1 button{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.btn-1{
    color: aliceblue;
    background-color: orangered;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px 15px 10px 15px;
}
.btn-2{
    color:black;
    background-color:white;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px 20px 10px 20px;
    margin-left: 10px;
}
.section-1 .class-B {
    display: flex;
    margin: 50px;
}
.section-1 .class-B img{
    width: 40px;
    border-radius: 100px;
    
}
.section-1 .class-A .class-B p{
    width: 200px;
    font-size: 17px;
}
.section-1 .class-B p strong{
    color: orangered;
    font-size: 17px;
}


/* section-2 */
.section-2 h6{
    justify-content: center;
    align-self: center;
    width: 300px;
    margin: 50px 300px 50px 300px;
    font-size: 22px;
    font-family: 'lora',serif;
    color: #6f6f6f;
   }
   .class-C {
     display: flex;
     justify-content:space-around;
   }
   .section-2 .class-C img {
     height: 50px;
     width: 120px;
     color: #6f6f6f;
}
/* secxtion-3 */
.section-3{
    margin: 100px;
}
.section-3 h2, h3{
    margin: 10px;
}
.section-3 h2{
    color:#626669;
    font-size: 40px;
    font-family: 'lora',serif;
}
.section-3 h3{
    color: rgb(221, 105, 62);
    font-size: 15px;
    font-family: 'lora',serif;
}

.section-3 .class-D{
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.section-3 .class-D .text{
    width: 500px;
    
} 
.section-3 .class-D img{
    width: 200px;
    height: 400px;
}
.section-3 h4{
    font-size: 25px;
    margin: 5px;
}
.section-3 p{
    font-size: 20px;
    padding: 5px;
}
.number{
    font-size: 100px;
    color: #6f6f6f;
}
/* .im-1{
    margin-left: 400px;
}
.im-2{
    margin-right: 400px;
}
.im-3{
    margin-left: 400px;
} */

/* section-4 */
.section-4{
padding: 50px;
}
.section-4 h2, h3{
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}
.section-4 h2{
    color:#626669;
    font-size: 40px;
    font-family: 'lora',serif;
}
.section-4 h3{
    color: rgb(221, 105, 62);
    font-size: 15px;
    font-family: 'lora',serif;
}

.section-4 .class-E{
    display: flex;
}
   
.section-4 button{
    color: #000;
    font-size: 15px;
    border-radius: 20px;
}
.section-4 .btn-3{
    width: 100px;
    background-color: blue;
    padding: 5px;
}
.section-4 .btn-4{
    width: 80px;
    background-color:rgb(235, 91, 91);
    padding: 5px;
}
.section-4 .btn-5{
    width: 80px;
    background-color:rgb(192, 149, 68);
    padding: 5px;
}
.section-4 .class-E .card {
    margin: 40px;
    border: 1px;
    border-radius: 20px;
    
}
.section-4 .class-E .card img{
    width: 320px;
    height: 210px;
}
.section-4 .class-E .card text{
    font-size: 20px;
}

.card .lister li{
    list-style:none;
   font-size: 25px; 
   padding: 10px;
}

.card .lister li i{
    color: rgb(214, 110, 62);
    font-size: 30px;
}
.mets{
    display: flex;
    padding: 15px;
}
.mets i, p{
    font-size: 30px;
}
.mets i{
    color: rgb(255, 196, 0);
    padding-right: 12px;
}

/* .section-5 */
.section-5 {
    display: flex;
    background-color: bisque;
}
.section-5 h2, h3{
    
    padding: 20px;   
}
.section-5 h2{
    color:#626669;
    font-size: 30px;
    font-family: 'lora',serif;
}
.section-5 h3{
    color: rgb(221, 105, 62);
    font-size: 15px;
    font-family: 'lora',serif;
}
.section-5 p{
    font-size: 18px;
}
.section-5 .cards .card {
    padding: 50px;
    justify-content: center;
    align-items: center;
} 
.section-5 .cards .card img{
    border-radius: 100px;
    width: 80px;
}
/* .section-5 .part .card-group .cards{
    max-width: 700px;
} */
.section-5 .part .card-group{
    display: flex;
}
.section-5 .cardek{
    margin-top: 100px;
}
.section-5 .cardek .card{
    display: flex;
}
.section-5 .cardek .card img{
    width: 200px;
    height: 180px;
    padding: 10px;
}

/* section-6 */
.section-6{
margin: 50px;
justify-content: center;
align-items: center;
    /* display: flex; */
}
.section-6 h2{
    color:#626669;
    font-size: 40px;
    font-family: 'lora',serif;
}
.section-6 h3{
    color: rgb(221, 105, 62);
    font-size: 15px;
    font-family: 'lora',serif;
}
.section-6 h5, p{
    justify-content: center;
align-items: center;
}
.section-6 p{
    font-size: 25px; 
}
.section-6 h5{
    font-size: 35px;  
}

.section-6 strong{
    font-size: 70px;
}
.section-6 li{
    font-size: 20px;
}

.section-6 h6{
    font-size: 20px;
    color:brown;
}
.section-6 .group {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 50px 200px 50px 200px; */
}
 .section-6 .group .card {
    padding: 50px;
}  
.section-6 .group .card button{
    color: white;
    background-color: rgb(24, 63, 24);
    border-radius: 10px;
    padding: 15px;
    margin-left: 50px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}
.section-6 .card .card-1{
    border-style: double;
    border-radius: 10px;
    border-color: red;
    padding: 35px;
    background-color:aliceblue;
    width: 400px;
}
.section-6 .card .card-2{
    border-radius: 10px;
    background-color: rgb(241, 212, 175);
    padding: 35px;
    width: 400px;
}
.section-6 .card li{
    list-style:none;
   font-size: 22px; 
   padding: 20px;
}
.section-6 .card li i{
    color: orange;
    font-size: 25px;
}
/* section7 */
.section-7{
    margin: 50px;
}
.section-7 .blocs{
    display: flex;
}
.section-7 .blocs .bloc{
    margin: 30px;
    width: 400px;
    justify-content: center;
    align-items: center;
}
.section-7 .para-4{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 100px;
}
.section-7 h4{
    font-size: 25px;
    margin-top: 50px;
}
.section-7 .para-5{
    font-size: 20px;
}
.section-7 i{
    color: green;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 100px;
    background-color: bisque;
}
/* section8 */
.section-8{
    background-color: rgb(121, 233, 233);
    margin: 150px;
    border-radius: 20px;
    height: 500px;
}
.section-8 .card-groups{
    display: flex;
    margin: 30px;
    width: 500px;
}

.section-8 h1{
    font-size: 50px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.section-8 p{
    font-size: 22px;
    justify-content: center;
    align-items: center;
    padding: 0 50px  50px  50px ;
}
.section-8 img{
    height: 500px;
    width: 400px;
    border-radius: 5px;
}
 .section-8 .mb{
    display: flex;
    padding: 0 0 50px 50px;
} 
 .section-8 .mb-3{
    margin: 0 20px;
} 
.section-8 label, input, select, option{
    font-size: 22px;
}
.section-8 input, select{
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
}

 
/* footer */
footer{
    margin: 50px;
}
footer .bloc{
    width: 300px;
}
footer .footer-blocs{
    display: flex;
}
footer p{
    font-size: 20px;
}
footer .icon{
    display: flex;
    margin: 20px;
}
footer h4{
    font-size: 22px;
}
footer .icon i{
    padding: 10px;
    font-size: 20px; 
}
footer .tfooter{
    font-size: 20px;
}
footer .tfooter i{
    color: orangered;
}
footer .bloc{
    margin: 30px;
}
footer .camp a{
    font-size: 20px;
    color: #000;
    text-decoration: none;
    justify-content: space-between;
    
}
@media all and (max-width:300px){
    .section-1{
      display:flex;
      flex-direction: column;
      background-color: aliceblue;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 110%;
      margin-left: 150px;
    } 
    .section-1 .class-A{
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section-1 .class-B{
        background-color: aliceblue;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 
    
    .section-2{
        margin-top: 500px;
        padding-left: 100px;
    }
    .section-2 .class-C{
        justify-content: center;
        margin-right: 50px;
    }
    .section-2 .class-C{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center; 
    }
    .section-2 .class-C img{
        width: 50px;
        height: 50px;
    }
    
    .section-3{
        justify-content: center;
        align-items: center;
        text-align: center;  
    }
     .section-3 h2{
        width: 400px;
        justify-content: center;
        align-items: center;
    } 
    .section-3 .class-D{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center;
    }
     .section-3 .class-D .text, img{
        /* display: grid;
        grid-template-columns: auto; */
        justify-content: center;
        align-items: center; 
        text-align: center;
    } 
    
    .section-4{
        /* background-color:rgb(179, 245, 239); */
    
    }
    
    /* .section-4 h2,h3{
        width: 300px;
    } */
    .section-4 .class-E{
        display: grid;
        grid-template-rows:auto ;
    }
    
    .section-5{
        display: grid;
        grid-template-rows:auto ; 
        display: grid;
        grid-template-rows:auto ; 
    }
    
    .section-5 h2,h3{
        width: 300px;
    }
    .section-5 .part{
        display: grid;
        grid-template-columns:auto ;
    }
    
    .section-5 .card-group{
        display: grid;
        grid-template-columns: auto;
    }
    .section-5 .cards{
        width: 400px;
        display: grid;
        grid-template-columns: auto;
    }
    .section-6 h2, h3{
        width: 300px;
    }
    .section-6 .group{
        display: grid;
        grid-template-rows: auto;
       padding-left: 120px;
       justify-content: center;
    }
    .section-7 {
        width: 300px;
    }
    .section-7 .blocs{
        display: grid;
        grid-template-rows: auto;
    }
    
    .section-8 {
        background-color: white;
        display: grid;
        grid-template-rows: auto;
    }
    .section-8 .card-groups{
        display: grid;
        grid-template-rows: auto;
    }
    /* .section-8 .card-group{
        display: grid;
        grid-template-columns: auto;
    } */
   .section-8 .mb{
    display: grid;
    grid-template-rows: auto;
   }
   footer{
    background-color: rgb(245, 201, 208);
   }
   footer .footer-blocs{
    display: grid;
    grid-template-rows: auto;
    width: 300px;
   }
   
}
